# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# Ignore logs
*.log
# Ignore test files
*.wav
*.mp3
# PyCharm files
.idea/vcs.xml
.idea/
# Certificates
*.pem
*.p12
# Media Folders
permanent_media/
sound_board/
temporary_media/
temporary_images/
