<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>JJMumbleBot Web Interface</title>
</head>
<body>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
      </ol>
    </nav>

    <div class="container">
        <form action="{{ url_for('post_message') }}" method="POST">
            <div class="form-group">
                <input type="text" id="commandInput" class="form-control" autocomplete="off" placeholder="{{ command_token }}command ...">
                <small id="emailHelp" class="form-text text-muted">Send commands to JJMumbleBot from here.</small>
                <button type="submit" class="btn btn-primary">Send Command</button>
                <button class="btn btn-primary generate_button" onclick="download_report()">Download Bot Report</button>
            </div>
        </form>
        <br>
        <div class="panel panel-info" id="commandOutputPanelParent">
            <div class="panel-heading" id="commandOutputHeader"></div>
            <div class="panel panel-info" id="commandOutputPanel">
                <div class="panel-body" id="commandOutputData">

                </div>
            </div>
        </div>
        <br>
        <div class="form-group">
            {% if plugins %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Active Plugins:</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in plugins | reverse %}
                    <tr class="table-success">
                        <th scope='row'>
                        {{ item }}
                        </th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="lead"><br>
                <center>
                    <p>There are no active plugins.</p>
                </center>
            </div>
            {% endif %}
        </div>
    </div>
    <script type="text/javascript">
        var data_storage = {};

        var ws = new WebSocket("ws://{{ server_ip }}:{{ socket_port }}/");
        ws.onmessage = function(e) {
          $.extend(data_storage, JSON.parse(e.data))
          document.getElementById("commandOutputHeader").innerHTML = "Most Recent Message Output " + data_storage["last_cmd_type"]
          document.getElementById("commandOutputData").innerHTML = data_storage["last_cmd_output"]
          // console.log(data_storage);
        }

        // Function to download data to a file
        function download(data, filename, type) {
            var file = new Blob([data], {type: type});
            if (window.navigator.msSaveOrOpenBlob) // IE10+
                window.navigator.msSaveOrOpenBlob(file, filename);
            else { // Others
                var a = document.createElement("a"),
                        url = URL.createObjectURL(file);
                a.href = url;
                a.download = filename;
                document.body.appendChild(a);
                a.click();
                setTimeout(function() {
                    document.body.removeChild(a);
                    window.URL.revokeObjectURL(url);
                }, 0);
            }
        }

        function download_report() {
            download(JSON.stringify(data_storage), 'bot_report.json', 'text/plain')
        }

        $(document).ready(function() {
            fetch('http://{{ server_ip }}:{{ server_port }}/plugins')
                .then(response => response.json())
                .then(json => $.extend(data_storage, json));
            fetch('http://{{ server_ip }}:{{ server_port }}/system')
                .then(response => response.json())
                .then(json => $.extend(data_storage, json));

            $('form').on('submit', function(event) {
                $.ajax({
                    data: {
                        commandInput: $('#commandInput').val()
                    },
                    type: 'POST',
                    url: '/command'
                })
            this.reset();
            event.preventDefault();
            });
        });
    </script>
</body>
</html>