<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/audio_controls.css') }}">
    <title>{{ bot_name }} Web Interface</title>
</head>
<body>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Main</a>
            <a class="nav-link" id="audio-tab" data-toggle="tab" href="#audio" role="tab" aria-controls="audio" aria-selected="false">Audio Interface</a>
        </div>
    </nav>
    <br>

    <div class="tab-content" id="pageTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="container border border-info rounded">
                <div id="bot-uptime">
                    Uptime
                </div>
                <br>
                <form action="{{ url_for('post_message') }}" method="POST">
                    <div class="form-group">
                        <input type="text" id="commandInput" class="form-control" autocomplete="off" placeholder="{{ command_token }}command ...">
                        <small id="commandHelp" class="form-text text-muted">Send commands to {{ bot_name }} from here.</small>
                        <button type="submit" class="btn btn-outline-success">Send Command</button>
                        <button class="btn btn-outline-secondary generate_button" onclick="download_report()">Download Bot Report</button>
                    </div>
                </form>
            </div>
            <br>
            <div class="container border border-dark rounded">
                <div class="row">
                    <div class="col-8 border border-secondary">
                        <div class="panel-heading" id="commandOutputHeader"></div>
                        <div class="panel panel-primary" id="commandOutputPanel">
                            <div class="panel-body" id="commandOutputData">NULL</div>
                        </div>
                    </div>
                    <div class="col-4">
                        <center><b>Server Channels</b></center>
                        <figure id="channelsList">
                        </figure>
                    </div>
                </div>
            </div>
            <br>
            <div class="container border border-dark rounded">
                <div class="form-group">
                    {% if plugins %}
                    <table class="table table-hover table-sm table-dark">
                        <thead>
                            <tr>
                                <th scope="col">Active Plugins:</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in plugins %}
                            <tr>
                                <td scope='row'>
                                {{ item }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <div class="lead"><br>
                        <center>
                            <p>There are no active plugins.</p>
                        </center>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="audio" role="tabpanel" aria-labelledby="audio-tab">
            <div class="container border border-dark rounded">
                <div class="audio-controls">
                    <form action="{{ url_for('pause_audio') }}" method="POST" class="audio_control_buttons">
                        <button type="submit" class="pause_form btn btn-outline-warning btn-sm" id="audio-control-pause">Pause</button>
                    </form>
                    <form action="{{ url_for('resume_audio') }}" method="POST" class="audio_control_buttons">
                        <button type="submit" class="resume_form btn btn-outline-success btn-sm" id="audio-control-resume">Resume</button>
                    </form>
                    <form action="{{ url_for('stop_audio') }}" method="POST" class="audio_control_buttons">
                        <button type="submit" class="stop_form btn btn-outline-danger btn-sm" id="audio-control-stop">Stop</button>
                    </form>
                    <form action="{{ url_for('next_audio') }}" method="POST" class="audio_control_buttons">
                        <button type="submit" class="next_form btn btn-outline-info btn-sm" id="audio-control-next">Next</button>
                    </form>
                    <form action="{{ url_for('shuffle_audio') }}" method="POST" class="audio_control_buttons">
                        <button type="submit" class="shuffle_form btn btn-outline-info btn-sm" id="audio-control-shuffle">Shuffle</button>
                    </form>
                    <form action="{{ url_for('loop_audio') }}" method="POST" class="audio_control_buttons">
                        <button type="submit" class="loop_form btn btn-outline-info btn-sm" id="audio-control-loop">Loop</button>
                    </form>
                    <form action="{{ url_for('decrease_volume_audio') }}" method="POST" class="audio_control_buttons">
                        <button type="submit" class="dec_vol_form btn btn-outline-info btn-sm" id="audio-control-decrease-volume">&#128265;</button>
                    </form>
                    <form action="{{ url_for('increase_volume_audio') }}" method="POST" class="audio_control_buttons">
                        <button type="submit" class="inc_vol_form btn btn-outline-info btn-sm" id="audio-control-increase-volume">&#128266;</button>
                    </form>
                    <button style="float:right" class="refresh_form btn btn-outline-secondary btn-sm" id="audio-control-refresh">Refresh</button>
                </div>
                <br>
                <div id="audio-status">

                </div>
                <br>
                <div class="form-group">
                    <table class="table table-striped table-dark" id="audio-queue-table">
                        <thead class="thead-dark" id="audio-queue-table-head">
                            <tr>
                                <th colspan="4" id="audio-queue-now-playing"></th>
                            </tr>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Track</th>
                                <th scope="col">Url</th>
                                <th scope="col">Commands</th>
                            </tr>
                        </thead>
                        <tbody id="audio-queue-table-body">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br>

    <script>
        var data_storage = {};
        var commandOutputHeader = null;
        var commandOutputData = null;
        var botUpTime = null;

        var ws = new WebSocket("ws://{{ server_ip }}:{{ socket_port }}/");
        ws.onmessage = function(e) {
          $.extend(data_storage, JSON.parse(e.data));
          commandOutputHeader.innerHTML = "<center><b>Most Recent Message Output " + data_storage["last_cmd_type"] + "</b></center>";
          commandOutputData.innerHTML = data_storage["last_cmd_output"];
          botUpTime.innerHTML = `Up-time: ${data_storage["bot_uptime"]}`;
          audioStatus.innerHTML = `Status: ${data_storage["audio_data"]["status"]}<br>Loop Mode: ${data_storage["audio_data"]["loop"]}<br>Volume: ${data_storage["audio_data"]["volume"]}`;

          setAudioQueueInformation();
          setChannelInformation();
        }

        function setAudioQueueInformation() {
          document.getElementById("audio-queue-table-body").innerHTML = "";
          var now_playing_text = document.getElementById("audio-queue-now-playing");
          now_playing_text.innerHTML = `Now Playing:<br>${data_storage["audio_data"]["track"]["name"]}<br>${data_storage["audio_data"]["img_uri_formatted"]}<br>Progress: [${data_storage["audio_data"]["progress_string"]} - ${data_storage["audio_data"]["duration_string"]}]`;

          var table_body = document.getElementById("audio-queue-table-body");
          var queue_item_count = 0
          for (var queue_item of Object.keys(data_storage["audio_data"]["queue"])) {
            var track_row = document.createElement("tr");
            var track_data_1 = document.createElement("th");
            track_data_1.style.width = "10%";
            track_data_1.innerHTML = `${queue_item_count}`;

            var track_data_2 = document.createElement("td");
            track_data_2.style.width = "50%";
            track_data_2.innerHTML = `${data_storage["audio_data"]["queue"][queue_item]["name"]}`

            var track_data_3 = document.createElement("td");
            track_data_3.style.width = "20%";
            track_data_3.innerHTML = `${data_storage["audio_data"]["queue"][queue_item]["alt_uri"]}`

            var track_data_4 = document.createElement("td");
            track_data_4.style.width = "20%";


            var command_skip = document.createElement("button");
            command_skip.setAttribute("id", `${queue_item_count}-skip_form_button`);
            command_skip.setAttribute("onclick", "skipto_command(this.id)");
            command_skip.innerHTML = "Skip To";
            command_skip.style.padding = "5px";
            command_skip.classList.add("skip_form");
            command_skip.classList.add("btn");
            command_skip.classList.add("btn-outline");
            command_skip.classList.add("btn-outline-info");
            command_skip.classList.add("btn-sm");
            command_skip.classList.add("no-transition");

            var command_remove = document.createElement("button");
            command_remove.setAttribute("id", `${queue_item_count}-remove_form`);
            command_remove.setAttribute("onclick", "removetrack_command(this.id)");
            command_remove.innerHTML = "Remove";
            command_remove.style.padding = "5px";
            command_remove.classList.add("remove_form");
            command_remove.classList.add("btn");
            command_remove.classList.add("btn-outline");
            command_remove.classList.add("btn-outline-danger");
            command_remove.classList.add("btn-sm");
            command_remove.classList.add("no-transition");


            track_data_4.appendChild(command_remove);
            track_data_4.appendChild(document.createElement("br"));
            track_data_4.appendChild(command_skip);

            track_row.appendChild(track_data_1);
            track_row.appendChild(track_data_2);
            track_row.appendChild(track_data_3);
            track_row.appendChild(track_data_4);

            table_body.appendChild(track_row);
            queue_item_count++;
          }
        }

        $(document).ready(function() {
            commandOutputHeader = document.getElementById("commandOutputHeader");
            commandOutputData = document.getElementById("commandOutputData");
            botUpTime = document.getElementById("bot-uptime");
            audioStatus = document.getElementById("audio-status");

            fetch('http://{{ server_ip }}:{{ server_port }}/plugins')
                .then(response => response.json())
                .then(json => $.extend(data_storage, json));
            fetch('http://{{ server_ip }}:{{ server_port }}/channels')
                .then(response => response.json())
                .then(json => $.extend(data_storage, json));
            fetch('http://{{ server_ip }}:{{ server_port }}/system')
                .then(response => response.json())
                .then(json => $.extend(data_storage, json));
            fetch('http://{{ server_ip }}:{{ server_port }}/hardware')
                .then(response => response.json())
                .then(json => $.extend(data_storage, json));

            $('form').on('submit', function(event) {
                $.ajax({
                    data: {
                        commandInput: $('#commandInput').val()
                    },
                    type: 'POST',
                    url: '/command'
                })
            this.reset();
            event.preventDefault();
            });

            $('.remove_form').click(function(event) {
                $.ajax({
                    data: {
                        toRemove: $(this).attr("id")
                    },
                    type: 'POST',
                    url: '/removetrack'
                })
            setAudioQueueInformation();
            });

            $('.pause_form').click(function(event) {
                $.ajax({
                    data: $(this).serialize(),
                    type: 'POST',
                    url: '/pause'
                })
            setAudioQueueInformation();
            });

            $('.resume_form').click(function(event) {
                $.ajax({
                    data: $(this).serialize(),
                    type: 'POST',
                    url: '/resume'
                })
            setAudioQueueInformation();
            });

            $('.stop_form').click(function(event) {
                $.ajax({
                    data: $(this).serialize(),
                    type: 'POST',
                    url: '/stop'
                })
            setAudioQueueInformation();
            });

            $('.next_form').click(function(event) {
                $.ajax({
                    data: $(this).serialize(),
                    type: 'POST',
                    url: '/nexttrack'
                })
            setAudioQueueInformation();
            });

            $('.shuffle_form').click(function(event) {
                $.ajax({
                    data: $(this).serialize(),
                    type: 'POST',
                    url: '/shuffle'
                })
            setAudioQueueInformation();
            });

            $('.loop_form').click(function(event) {
                $.ajax({
                    data: $(this).serialize(),
                    type: 'POST',
                    url: '/loop'
                })
            setAudioQueueInformation();
            });

            $('.dec_vol_form').click(function(event) {
                $.ajax({
                    data: $(this).serialize(),
                    type: 'POST',
                    url: '/decreasevolume'
                })
            setAudioQueueInformation();
            });

            $('.inc_vol_form').click(function(event) {
                $.ajax({
                    data: $(this).serialize(),
                    type: 'POST',
                    url: '/increasevolume'
                })
            setAudioQueueInformation();
            });

            $('.refresh_form').click(function(event) {
            setAudioQueueInformation();
            });
        });
    </script>
    <script src="{{ url_for('static', filename='js/index.js') }}" crossorigin="anonymous"></script>
</body>
</html>