.main-content {
    padding: 25px;
    margin-left: 250px;
    margin-bottom: 35px;
}
#table_of_contents {
    height: calc(100% - 35px);
    width: 250px;
    position: fixed;
    background-color: black;
    padding-left: 10px;
    padding-top: 10px;
    overflow: auto;
}
#table_of_contents ul {
    list-style-position: inside;
    padding-left: 10px;
}
img {
    border-radius: 10px;
}
footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    height: 35px;
    width: 100%;
    text-align: center;
}