<html>
<head>
    <title>JJMumbleBot Web Interface - Command History</title>
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div class="container"><br>
    <center>
        <h2>JJMumbleBot - Command History</h2>
    </center>
</div>

<div class=container"><br>
    <div class="row align-items-center justify-content-center">
        <div class="col-md-4">
            <form action="" method="post" role="form">
                <div class="form-group">
                    <br>
                    <center>

                        <ol>
                        {% for item in cmd_strings %}
                            <li>
                            {{ item }}
                            </li>
                        {% endfor %}
                        </ol>

                    </center>
                    <br>
                </div>
                <br>
            </form>
            <br>

        </div>
        <br>
    </div>
</div>
</body>
</html>