<html>
<head>
    <title>JJMumbleBot Web Interface - Command Page</title>
    <!--
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"> 
    -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="https://github.com/DuckBoss/JJMumbleBot">JJMumbleBot</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarColor02" style="">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('main')}}">Command Page</a>
            </li>
            <li class="nav-item">
                <form method="post" action="/history">
                    <a class="nav-link" href="{{url_for('cmd_history')}}">Command History</a>
                </form>
            </li>
            <li class="nav-item">
                <form method="post" action="/youtube">
                    <a class="nav-link" href="{{url_for('cmd_youtube')}}">Youtube Queue</a>
                </form>
            </li>
        </ul>
    </div>
</nav>

<div class="lead"><br>
    <center>
        <h2>Command Page</h2>
    </center>
</div>

<div class="container"><br>
    <div class="row align-items-center justify-content-center">
        <div class="col-md-4">
            <form action="" method="post" role="form">
                {{ form.csrf }}
                <div class="form-group">
                    <label class="col-form-label" for="commandField">Command:</label>
                    <input type="text" class="form-control" id="commandField" name="commandField"
                           placeholder="Please enter a command...">
                    <br>
                    <button type="submit" class="btn btn-outline-success">Submit</button>
                </div>
                <br>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for message in messages %}
                {% if "Error" not in message[1]: %}
                <div class="alert alert-success">
                  <strong>Command Sent:</strong> {{ message[1] }}
                </div>
                {% endif %}
                {% if "Error" in message[1]: %}
                <div class="alert alert-danger">
                  <strong>{{ message[1] }}</strong>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endwith %}
                <br>
            </form>


            <br>
        </div>
        <br>
    </div>
</div>

</body>
</html>