<html>
<head>
    <title>JJMumbleBot Web Interface - Youtube Queue</title>
    <!--
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="https://github.com/DuckBoss/JJMumbleBot">JJMumbleBot</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarColor02" style="">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('main')}}">Command Page</a>
            </li>
            <li class="nav-item">
                <form method="post" action="/history">
                    <a class="nav-link" href="{{url_for('cmd_history')}}">Command History</a>
                </form>
            </li>
            <li class="nav-item">
                <form method="post" action="/youtube">
                    <a class="nav-link" href="{{url_for('cmd_youtube')}}">Youtube Queue</a>
                </form>
            </li>
        </ul>
    </div>
</nav>

<div class="lead"><br>
    <center>
        <h2>Youtube Queue</h2>
    </center>
</div>

<div class="container"><br>
    <div class="row align-items-center justify-content-center">
        <div class="col-md-4">
            <form action="" method="post" role="form">
                <div class="form-group">
                    <center>
                        <form method="post" action="/youtube">
                            <button type="submit" class="btn btn-outline-success">Refresh</button>
                        </form>
                        <br>
                        <form method="post" action="/clear_youtube">
                            <button type="submit" class="btn btn-outline-success">Clear Queue</button>
                        </form>
                    </center>
                    <br>
                    {% if cur_playing %}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Now Playing</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-primary">
                                <th scope='row'>
                                {{ cur_playing['main_title'] }}
                                </th>
                            </tr>
                        </tbody>
                    </table>
                    {% endif %}
                </div>
                <div class="form-group">
                    {% if cmd_strings %}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Up Next</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cmd_strings | reverse %}
                            <tr class="table-success">
                                <th scope='row'>
                                {{ item['main_title'] }}
                                </th>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <div class="lead"><br>
                        <center>
                            <p>The youtube queue is currently empty.</p>
                        </center>
                    </div>
                    {% endif %}
                </div>
                <br>
            </form>
            <br>

        </div>
        <br>
    </div>
</div>
</body>
</html>